@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  padding: 0; 
  margin: 0;
  background-color: #7acfd6;
  font-family: 'Karla', sans-serif;
}

#main-heading {
  text-align: center;
}

#main-container {
  margin: auto;
  margin-bottom: 50px;
  width: 65%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
}

#sub-main-heading {
  text-align: center;
  padding-top: 1em;
}

#sub-main-container {
  margin: auto;
  width: 90%;
  height: 100%;
}

#survey-form {
  text-align: center;
  padding-bottom: 30px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 20px;
}

.labels {
  text-align: right;
}

.name-email-age {
  text-align: left;
}

.person-info {
  padding-right: 8em;
  padding-top: 1%;
  padding-bottom: 1%;
}

.options {
  text-align: left;
}

span {
  padding-left: 2%;
}

#btn-container {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

#btn {
  text-align: center;
}







