@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  padding: 0; 
  margin: 0;
  background-color: #7acfd6;
  font-family: 'Karla', sans-serif;
}

#main-heading {
  text-align: center;
}

#main-container {
  margin: auto;
  margin-bottom: 50px;
  width: 65%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
}

#sub-main-heading {
  text-align: center;
  padding-top: 1em;
}

#sub-main-container {
  margin: auto;
  width: 90%;
  height: 100%;
}

#survey-form {
  text-align: center;
  padding-bottom: 30px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 20px;
}

.labels {
  text-align: right;
}

.name-email-age {
  text-align: left;
}

.person-info {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 10%;
  overflow: visible;
  width: 50%;
}

.person-info:focus {
  outline: none;
}

.options {
  text-align: left;
}

.radio {
  margin-top: 4%;
}

.dropdown {
  width: 40%;
  cursor: pointer;
  outline: none;
}

#txtarea {
  width: 55%;
  height: 70px;
  border-radius: 5px;
}

.checkbox {
  margin-top: 4%;
}

span {
  padding-left: 2%;
}

#btn-container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

#btn {
  margin-top: 5%;
  padding: 1% 4% 1% 4%;
  text-align: center;
  cursor: pointer;
  background-color: #7acfd6;
  border-radius: 4px;
}

#btn:hover {
  background-color: #4ba9c8;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 880px) {
  #main-container {
    margin: auto;
    margin-bottom: 50px;
    width: 90%;
    height: 90%;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 20px;
  }

  .labels {
    text-align: left;
  }

  #txtarea {
    width: 100%;
  }
  
  .dropdown {
    width: 100%;
  }

  .person-info {
    width: 90%;
  }

  #btn {
    margin-top: 5%;
    padding: 4% 10% 4% 10%;
    text-align: center;
    cursor: pointer;
    background-color: #7acfd6;
    border-radius: 4px;
  }
}






